<div class="container">
  <h1>Editing Kpi Notification</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @kpi_notification, :class => 'btn btn-sm btn-primary' %> |
  <%= link_to 'Back', kpi_notifications_path, :class => 'btn btn-sm btn-primary' %>
</div>
