<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
          <% content_for :title do %>About<% end %>
            <h3>About the Website</h3>
            <p>
            Lorem ipsum dolor sit amet, ne laudem lobortis perpetua vis, ex usu vide ponderum, vel partem mollis atomorum ne. Vis viris eligendi cu, nam no option salutatus similique, labore expetendis mei an. An harum populo sensibus per. In mea dictas vocent necessitatibus. An sed invidunt nominati concludaturque, qui unum disputationi no.
            </p>
        </div>
    </div>
